<div *ngIf="flight">
    <div *ngIf="!isChangeRoute">
        <div class="row">
            <div class="col-12">
                <div class="mt-3 d-flex justify-content-end">
                    <button class="btn btn-success w-100"
                        (click)="next()">
                        <b>ЛБЗ Назад</b>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="mt-3 d-flex justify-content-end">
                    <button class="btn btn-danger w-100"
                        (click)="changeRoute()">
                        <b>Зміна ЛБЗ</b>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="mt-3 d-flex justify-content-end">
                    <button class="btn btn-light w-100"
                        (click)="next(true)">
                        <b>Пропустити</b>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isChangeRoute">

        <div class="row">

            <div class="col-12">
                <label class="col-form-label">Новий маршрут</label>
                <input [placeholder]="flight.routeBack ?? ''" type="text" class="form-control"
                    [(ngModel)]="flight.changedReturnRoute">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="mt-3 d-flex justify-content-end">
                    <button [disabled]="validateStep()" class="btn btn-success w-100"
                        (click)="next()">
                        <b>Підтвердити</b>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>