.btn-danger{
    height: 15vh;
    b{
        font-size: 2.8vh;
        color:black;
    }
    i{
        font-size: 3vh;
        color:black;
    }
}

.btn-success{
    height: 31vh;
    b{
        font-size: 4vh;
        color:black;
    }
    i{
        font-size: 4vh;
        color:black;
    }
}

.btn-light{
    height: 15vh;
    background-color: lightgray;
    b{
        font-size: 2.8vh;
        color:black;
    }
    i{
        font-size: 3vh;
        color:black;
    }
}

input{
    border: 1.5px solid black;
}